# POSTGRES
POSTGRES_DB=taskio
POSTGRES_USER=taskio
POSTGRES_PASSWORD=your_password_here

# REDIS
REDIS_URL=redis://localhost:6379

# RABBITMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# FRONTEND
FRONTEND_URL=http://localhost:5173

# APP
GO_ENV=development
PORT=:3000

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRY_HOURS_REGISTER=24
JWT_EXPIRY_HOURS_LOGIN=168
JWT_EXPIRY_HOURS_REFRESH=720

# COOKIE
COOKIE_NAME=taskio-cookie